<div class="row">
  <div class="col-6" {{ stimulus_target('translate', 'input') }}>{{ attribute(term, field.vars.name)|raw }}</div>
  <div class="col-6">
    <div {{ stimulus_controller('ckeditor') }} {{ stimulus_action('ckeditor', 'update', 'translate:translated@window') }}>
      {% if allow_translation ?? false %}
        <button type="button" class="btn" {{ stimulus_action('translate', 'do') }}>
          <span class="spinner-border spinner-border-sm visually-hidden" role="status"
                aria-hidden="true" {{ stimulus_target('translate', 'spinner') }}></span>
          <img src="{{ asset('build/images/svg/translate.svg') }}" alt="Traduire" width="24"
              {{ stimulus_target('translate', 'img') }}/>
          Traduire automatiquement depuis l'anglais
        </button>
      {% endif %}

      <div {{ stimulus_target('ckeditor', 'editor') }}></div>
      {{ form_widget(field, { attr: {
        class: 'd-none',
        'data-ckeditor-target': 'content',
        'data-translate-target': 'output',
      } }) }}
    </div>
  </div>
</div>
