<!DOCTYPE html>
<html lang="fr" class="h-100">
  <head>
    <meta charset="UTF-8">
    <title>Pathfinder 1 - Traduction FR (Babele)</title>

    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
    {% endblock %}
  </head>
  <body class="d-flex flex-column h-100">
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ path('app_home') }}">Pathfinder 1 - Traduction FR (Babele)</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                  aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            {% set is_translation_page = 'app_translate' in app.request.get('_route') %}
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link{{ not is_translation_page ? ' active' }}" href="{{ path('app_home') }}"
                    {{ not is_translation_page ? ' aria-current="page"' }}>Accueil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link{{ is_translation_page ? ' active' }}" href="{{ path('app_translate') }}"
                    {{ is_translation_page ? ' aria-current="page"' }}>Traduire</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="flex-shrink-0">
      <div class="container">
        {% block body %}{% endblock %}
      </div>
    </main>

    <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
        <span class="text-muted">Copyright © {{ 'now'|date('Y') }}, DjLeChuck</span>
      </div>
    </footer>
  </body>
</html>
