<!DOCTYPE html>
<html lang="fr" class="h-100">
  <head>
    <meta charset="UTF-8">
    <title>Pathfinder 1 - Traduction FR (Babele)</title>

    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
    {% endblock %}
  </head>
  <body class="d-flex flex-column h-100">
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ path('app_home') }}">Pathfinder 1 - Traduction FR (Babele)</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                  aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            {% set is_translation_page = 'app_translate' in app.request.get('_route') %}
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link{{ not is_translation_page ? ' active' }}" href="{{ path('app_home') }}"
                    {{ not is_translation_page ? ' aria-current="page"' }}>Accueil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link{{ is_translation_page ? ' active' }}" href="{{ path('app_translate') }}"
                    {{ is_translation_page ? ' aria-current="page"' }}>Traduire</a>
              </li>
              <li>
                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" method="get"
                      action="{{ path('app_search') }}">
                  <input type="search" name="term" class="form-control form-control-dark text-bg-dark"
                         placeholder="Recherche globale..." aria-label="Recherche globale">
                  <input type="hidden" name="token" value="{{ csrf_token('global-search') }}" />
                </form>
              </li>
            </ul>

            <div class="d-flex text-light">
              {% if app.user %}
                <span class="align-middle">
                  Bonjour {{ app.user.nickname }} !&nbsp;
                  <a href="{{ path('app_logout') }}" class="text-muted small">
                    (Se déconnecter)
                  </a>
                </span>
              {% else %}
                <a href="{{ path('hwi_oauth_service_redirect', { service: 'discord' }) }}" class="btn btn-primary">
                  Se connecter via Discord
                </a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main class="flex-shrink-0">
      <div class="container">
        {% for label, messages in app.flashes %}
          {% for message in messages %}
            <div class="alert alert-{{ label }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endfor %}

        {% block breadcrumb %}
          {% set breadcrumb_entries = [{ label: 'Accueil', url: path('app_home') }]|merge(entries|default([])) %}

          <nav aria-label="breadcrumb" class="m-2">
            <ol class="breadcrumb">
              {% for item in breadcrumb_entries %}
                <li class="breadcrumb-item{{ loop.last ? ' active' }}"{{ loop.last ? '  aria-current="page"' }}>
                  {% if not loop.last %}<a href="{{ item.url }}">{% endif %}
                    {{ item.label }}
                    {% if not loop.last %}</a>{% endif %}
                </li>
              {% endfor %}
            </ol>
          </nav>
        {% endblock breadcrumb %}
        {% block body %}{% endblock %}
      </div>
    </main>

    <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
        <span class="text-muted">Copyright © {{ 'now'|date('Y') }}, DjLeChuck</span>
      </div>
    </footer>
  </body>
</html>
