{{ form_start(translation_form) }}
<div class="table-responsive">
  <table class="table table-striped" {{ stimulus_controller('table-multirow', {
    open: asset('eye-open.svg', 'svg'),
    close: asset('eye-close.svg', 'svg'),
  }) }}>
    <thead>
      <tr>
        {% if display_pack %}
          <th scope="col">Pack</th>
        {% endif %}
        <th scope="col">Nom VO</th>
        <th scope="col">Nom VF</th>
        <th scope="col">Autres données</th>
      </tr>
    </thead>
    <tbody>
      {# @var term \App\Entity\Term #}
      {% for term_entry in translation_form.terms %}
        {% set term = term_entry.vars.value %}
        {% set translation_level = term.translationLevel %}
        <tr>
          {% if display_pack %}
            <td>{{ term.pack }}</td>
          {% endif %}
          <td>{{ term.name }}</td>
          <td>
            <div class="form-group">
              {{ form_widget(term_entry.id) }}
              {{ form_widget(term_entry.translation.id) }}

              {% if translation_level < 2 %}
              <div class="input-group">
                {% endif %}

                {{ form_widget(term_entry.translation.name, { attr: {
                  placeholder: term.name,
                } }) }}

                {% if translation_level < 2 %}
                <span class="input-group-text {{ translation_level == 1 ? 'bg-warning' : 'bg-danger' }}">
                  <img src="{{ asset('alert.svg', 'svg') }}" alt="Attention" />
                </span>
              </div>
              {% endif %}
            </div>
          </td>
          <td>
            <button type="button" class="btn" {{ stimulus_action('table-multirow', 'toggle', 'click') }}
                    data-term="{{ term.id }}">
              <img src="{{ asset('eye-open.svg', 'svg') }}" alt="" />
            </button>

            {% if term.translationLevel < 2 and is_granted('approve', term) %}
              <a href="{{ path('app_translate_approve', { id: term.id }) }}" class="btn">
                <img src="{{ asset('check2-circle.svg', 'svg') }}" alt="" width="24" />
              </a>
            {% endif %}
          </td>
        </tr>
        <tr data-term="{{ term.id }}" class="d-none" {{ stimulus_target('table-multirow', 'hiddenRow') }}
            {{ stimulus_controller('translate', { url: path('app_translate_do_translation') }) }}>
          <td colspan="{{ display_pack ? 4 : 3 }}" {{ stimulus_controller('tab') }}>
            <ul class="nav nav-pills mb-3" role="tablist">
              {% for field in term_entry.translation|filter(f => not f.rendered and f.vars.value is not null and f.vars.value != '') %}
                <li class="nav-item" role="presentation">
                  <button class="nav-link{{ loop.first ? ' active' }}" data-bs-toggle="tab"
                          data-bs-target="#tab-{{ field.vars.id }}"
                          type="button" role="tab" {{ stimulus_target('tab', 'target') }}>
                    {{ field.vars.label }}
                  </button>
                </li>
              {% endfor %}
            </ul>
            <div class="tab-content">
              {% for field in term_entry.translation|filter(f => not f.rendered and f.vars.value is not null and f.vars.value != '') %}
                <div class="tab-pane fade show{{ loop.first ? ' active' }}" id="tab-{{ field.vars.id }}"
                     role="tabpanel">
                  {{ include([
                    'translate/fields/_' ~ field.vars.name ~ '.html.twig',
                    'translate/fields/_default.html.twig'
                  ]) }}
                </div>
              {% endfor %}
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="row mt-2">
  <div class="col-10">
    {{ knp_pagination_render(pagination) }}
  </div>
  <div class="col-2">
    <button type="submit" class="btn btn-primary float-end">Enregistrer</button>
  </div>
</div>

<input type="hidden" name="_redirect" value="{{ redirect }}" />
{{ form_widget(translation_form._token) }}
{{ form_end(translation_form, { render_rest: false }) }}
