{% extends 'base.html.twig' %}

{% block breadcrumb %}
  {% set entries = [{
    label: 'Traduire',
    url: path('app_translate'),
  }, {
    label: pack,
  }] %}
  {{ parent() }}
{% endblock breadcrumb %}

{% block body %}
  <h1 class="mt-3">Traduction du pack <strong>{{ pack }}</strong></h1>

  {{ form_start(form) }}
  <div class="input-group mb-3">
    {{ form_widget(form.term) }}

    <div class="input-group-text">
      {{ form_widget(form.only_untranslated) }}
      {{ form_label(form.only_untranslated) }}
    </div>

    <button class="btn btn-primary" type="submit">Filtrer</button>
  </div>
  {{ form_end(form) }}

  <form action="{{ path('app_translate_pack_process', { pack: pack }) }}" method="post">
    <div class="table-responsive">
      <table class="table table-striped" {{ stimulus_controller('table-multirow', {
        open: asset('eye-open.svg', 'svg'),
        close: asset('eye-close.svg', 'svg'),
      }) }}>
        <thead>
          <tr>
            <th scope="col">Nom VO</th>
            <th scope="col">Nom VF</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          {# @var term \App\Entity\Term #}
          {% for term in pagination %}
            <tr>
              <td>{{ term.name }}</td>
              <td>
                <div class="form-group">
                  {% if term.nameSeemsUntranslated %}
                  <div class="input-group">
                    {% endif %}
                    <input type="text" class="form-control" placeholder="{{ term.name }}"
                           name="translation[{{ term.id }}][name]" value="{{ term.translation.name ?? '' }}" />
                    {% if term.nameSeemsUntranslated %}
                    <span class="input-group-text"><img src="{{ asset('alert.svg', 'svg') }}" alt="Attention" /></span>
                  </div>
                  {% endif %}
                </div>
              </td>
              <td>
                <button type="button" class="btn" {{ stimulus_action('table-multirow', 'toggle', 'click') }}
                        data-term="{{ term.id }}">
                  <img src="{{ asset('eye-open.svg', 'svg') }}" alt="" />
                </button>
              </td>
            </tr>
            <tr data-term="{{ term.id }}" class="d-none" {{ stimulus_target('table-multirow', 'hiddenRow') }}
                {{ stimulus_controller('translate', { url: path('app_translate_do_translation') }) }}>
              <td colspan="3">
                <div class="row">
                  <div class="col-6" {{ stimulus_target('translate', 'input') }}>{{ term.description|raw }}</div>
                  <div class="col-6">
                    <div {{ stimulus_controller('ckeditor') }} {{ stimulus_action('ckeditor', 'update', 'translate:translated@window') }}>
                      {% if term.descriptionSeemsUntranslated %}
                        <button type="button" class="btn" {{ stimulus_action('translate', 'do') }}>
                          <span class="spinner-border spinner-border-sm visually-hidden" role="status" aria-hidden="true"
                          {{ stimulus_target('translate', 'spinner') }}></span>
                          <img src="{{ asset('build/images/svg/translate.svg') }}" alt="Traduire" width="24"
                              {{ stimulus_target('translate', 'img') }}/>
                          Traduire automatiquement depuis l'anglais
                        </button>
                      {% endif %}
                      <div {{ stimulus_target('ckeditor', 'editor') }}></div>
                      <textarea name="translation[{{ term.id }}][description]" class="d-none"
                          {{ stimulus_target('ckeditor', 'content') }}
                          {{ stimulus_target('translate', 'output') }}>{{ term.translation.description|raw }}</textarea>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="row mt-2">
      <div class="col-10">
        {{ knp_pagination_render(pagination) }}
      </div>
      <div class="col-2">
        <button type="submit" class="btn btn-primary float-end">Enregistrer</button>
      </div>
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('translate') }}" />
  </form>
{% endblock body %}
