{% extends 'base.html.twig' %}

{% block body %}
  <h1 class="mt-5">Traduction du pack <strong>{{ pack }}</strong></h1>

  <form action="" method="post">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nom VO</th>
          <th scope="col">Nom VF</th>
          <th scope="col">Description VO</th>
          <th scope="col">Description VF</th>
        </tr>
      </thead>
      <tbody>
        {# @var term \App\Entity\Term #}
        {% for term in terms %}
          <tr>
            <td>{{ term.name }}</td>
            <td>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="{{ term.name }}"
                       name="translation[{{ term.id }}][name]" value="{{ term.translation.name ?? '' }}" />
              </div>
            </td>
            <td>
              {#            {{ term.description }} #}
              <img src="{{ asset('eye-open.svg', 'svg') }}" alt="Afficher" />
            </td>
            <td>
              {#            {{ term.translation.description ?? '' }} #}
              <img src="{{ asset('eye-open.svg', 'svg') }}" alt="Cacher" />
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <button type="submit" class="btn btn-primary">Enregistrer</button>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('translate') }}" />
  </form>
{% endblock body %}
